html,body, .wrapper, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper { 
    display: flex;
    overflow: hidden;
}

.params {
    background: white;
    font-family: Verdana;
    width: 20%;
    height: 100%;
    margin: 10px 20px;
}

.params input[type=text] {
	border: 1px solid #bbbbbb;
    padding: 0 10px;
    height: 34px;
    background: #f7f7f7;
}

.params-btn {
    border: 0;
    background: #2a7cd0;
    padding: 8px 25px;
    color: white;
    border-radius: 4px;
}

.params button:focus, select:focus{
    outline: none;
}

.control-weather-button {
    border: 0;
    background: #2a7cd0;
    padding: 8px 10px;
    color: white;
    border-radius: 4px; 
}

.params h2 {
    font-size: 16px;
    text-align: center;
}

.params fieldset {
	border: 0;
    padding: 10px 0;
}

.params p {
    margin: 0;
    margin-bottom: 10px;
    color: #696969;
    font-size: 14px;
}

.server_text {
    float: left;
}

#img-state-server {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.state-server {
    position: absolute;
    bottom: 0;
}

.checkbox {
    position: relative;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox__text {
    cursor: pointer;
}

.checkbox__text:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 196px;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: rgb(194, 194, 194);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
  
.checkbox__text:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 198px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: rgb(240, 240, 240);
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
  
.checkbox input:checked + .checkbox__text:before {
    background: #3d8bda;
}
  
.checkbox input:checked + .checkbox__text:after {
    left: 220px;
}

.control-weather-select_time {
    border: 0;
    background: #2a7cd0;
    padding: 8px 10px;
    color: white;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}